/* Animation for #title */
@keyframes nudge {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes nudge {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@-moz-keyframes nudge {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Animation for #age */
@keyframes flyBabyfly {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-40px, -50px);
  }
}

@-webkit-keyframes flyBabyfly {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-40px, -50px);
  }
}

@-moz-keyframes flyBabyfly {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-40px, -50px);
  }
}

/* Animation for #availability */ 
@keyframes rotateEarth {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(10deg);
  }
}

/* Animation for dark web */
@keyframes sinkToBottom {
  from {
    padding-top: 0;
  }

  to {
    padding-top: 20vh;
  }
}

@-webkit-keyframes sinkToBottom {
  from {
    padding-top: 0;
  }

  to {
    padding-top: 20vh;
  }
}

@-moz-keyframes sinkToBottom {
  from {
    padding-top: 0;
  }

  to {
    padding-top: 20vh;
  }
}