@import url("css/fonts.css");
@import url("css/animations.css");

/* Basics */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  border: none;
  margin: 0;
  padding: 0;
  background-color: #ccdbfd;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  overflow-x: hidden;
  min-height: 100%;
  font-size: 30px;
  font-family: "Apfel Grotezk",
  sans-serif;
  font-weight: 400;
  color: black;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 148px;
  padding-left: 10px;
}

@media all and (min-width: 1754px) {
  h1 {
    font-size: 250px;
  }
}
h2 {
  font-size: 24px;
}

a {
  color: inherit;
}

/* Sections */
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  padding: 70px;
}
/* Title */
#title {
  padding: 30px;
  text-align: center;
}

#title h1 {
  margin: 0;
  margin-top: 50px;
}

#title figure img {
  width: 20%;
  margin-top: 80px;
  
}

#title figure{
  width: 100%;
}

/* Age */
#age {
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding-left: 150px;
  padding-right: 200px;
  padding-top: 200px;
  
  
}

#age .tekst {
  width: 70%;
  
}


#age figure {
  width: 30%;
  margin-left: 40px;
  margin-top: 130px;
  transform: translate(0);
  -webkit-animation: flyBabyfly 1.5s ease-in-out infinite alternate forwards;
  -moz-animation: flyBabyfly 1.5s ease-in-out infinite alternate forwards;
  animation: flyBabyfly 1.5s ease-in-out infinite alternate forwards;
}

/* Size & weight */
#size{
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  position: relative;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 200px;
}

#size img {
  width: 1500px;
  height: auto;
}

#size figure{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  
}

#weight p{
  position: relative;
  padding-left: 200px;
  padding-right: 200px;
  
}

#weight figure{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-top: 200px;
}


/* When Internet became available */
#availability {
  flex-direction: row;
  justify-content: space-between;
}

#availability figure {
  width: 60%;
  text-align: left;
}

#availability figure img {
  max-height: 704px;
  width: auto;
}

/* Internet addiction camps */
#internet-addiction-camps {
  flex-direction: row;
  justify-content: space-between;
}

#internet-addiction-camps p {
  width: 30%;
}

#internet-addiction-camps figure {
  width: 70%;
}

/* Number of devices connected */
#network {
  flex-direction: row;
  justify-content: space-between;
}

#network .tekst {
  width: 30%;
}

#network figure {
  width: 70%;
  text-align: right;
}

#network figure img {
  max-height: 704px;
  width: auto;
}

/* Most watched video on Youtube */
#youtube {
  flex-direction: row;
  justify-content: space-between;
}

#youtube .tekst {
  width: 30%;
}

#youtube figure {
  position: relative;
  width: 70%;
  text-align: right;
}

#youtube .video {
  position: absolute;
  top: 25%;
  left: 20%;
  width: 67%;
  height: 45%;
}


/* The layers of the Internet */
#internet-layers {
  display: block;
  min-height: 100vh;
}

#internet-layers div {
  min-height: 33.33vh;
}

#the-dark-web-is-scary {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#surface-web figure{
  position: relative;
  width: 20%;
  text-align: right;
}

#deep-web figure{
  position: relative;
  width: 20%;
  text-align: right;
}

#dark-web figure{
  position: relative;
  width: 20%;
  text-align: right;
}
/* Video of self driving car stopped by police */
.section.video {
  height: 100vh;
}

/* Credits */
#credits {
  padding: 0 40px 40px 40px;
  font-size: 16px;
}
