@import url("css/fonts.css");
@import url("css/animations.css");

/* Basics */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  border: none;
  margin: 0;
  padding: 0;
  background-color: #ccdbfd;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  overflow-x: hidden;
  min-height: 100%;
  font-size: 30px;
  font-family: "Apfel Grotezk",
  sans-serif;
    font-weight: 400;
    line-height: 1.3;
  color: black;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
h1 {
  margin: 0;
  font-size: 164px;
  font-weight: 400;
}

@media all and (min-width: 1754px) {
  h1 {
    font-size: 200px;
  }
}

h2 {
  margin: 0;
  font-size: 80px;
  font-weight: 400;
}
a {
  color: inherit;
}

/* Sections */
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  padding: 70px;
}
/* Title */
#title {
  padding: 70px 30px 30px 30px;
  text-align: center;
}

#title figure {
  position: relative;
  width: 100%;
}

#title figure:before {
  content: "";
  position: absolute;
  top: 0;
  right: 10vw;
  background: url("img/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 213px;
  height: 244px;
}

#title figure img {
  width: 20%;
  margin-top: 80px;
  animation: nudge 0.3s ease 0s infinite normal forwards;
}

#title figure img:hover {
  animation-play-state: paused;
}
/* Age */
#age {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 15vw;
  padding-right: 15vw;
}

#age .tekst {
  width: 75%;
}

#age .tekst p {
  max-width: 35ch;
}


#age figure {
  align-self: flex-end;
  width: 25%;
  transform: translate(0);
  -webkit-animation: flyBabyfly 1.5s ease-in-out infinite alternate forwards;
  -moz-animation: flyBabyfly 1.5s ease-in-out infinite alternate forwards;
  animation: flyBabyfly 1.5s ease-in-out infinite alternate forwards;
}

/* Size & weight */
#size {
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  position: relative;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 200px;
}

#size figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

#size figure img {
  width: auto;
  max-height: 100vh;
}

#weight {
  position: relative;
  flex-direction: column;
  justify-content: center;
}

#weight p {
  text-align: center;
  width: 100%;
  margin: 0;
}

#weight figure {
  display: block;
  width: 30%;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
}

@media all and (min-width: 1754px) {
  #weight p {
    top: 300px;
    right: 20px;
  }

  #weight figure {
    top: 500px;
    left: 580px;
    width: 30%;
  }
}

/* When Internet became available */
#availability {
  position: relative;
  flex-direction: row;
  align-items: center;
  padding-left: 15vw;
}

#availability .text {
  width: 65%;
  padding-left: 70px;
  text-align: left;
}

#availability .text p {
  max-width: 35ch;
}

#availability figure {
  order: -1;
  width: 35%;
  display: block;
  width: 35%;
  padding-top: 0px;
  text-align: left;
  animation: rotateEarth 1.5s ease-in-out infinite alternate forwards;
}


#availability figure img {
  max-height: 704px;
  width: auto;
}

@media all and (min-width: 1900px) {
#availability figure img {
  max-height: 704px;
  width: auto;
}
}

/* Internet addiction camps */
#internet-addiction-camps {
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
}

#internet-addiction-camps p {
  width: 35%;
}

#internet-addiction-camps figure {
  width: 65%;
}
/* Number of devices connected */
#network {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 10vw;
  padding-right: 10vw;}

#network .text {
  padding-left: 70px;
  text-align: left;
  width: 65%;
}

#network figure {
  order: -1;
  display: block;
  width: 35%;
  padding-top: 0px;
  text-align: left;
}

#network figure img {
  max-height: 704px;
  width: auto;
}

/* Most watched video on Youtube */
#youtube {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 10vw;
  padding-right: 10vw;
}

#youtube .text {
  width: 50%;
  padding-left: 70px;
}

#youtube figure {
  order: -1;
  position: relative;
  width: 50%;
  text-align: right;
}

#youtube .video {
  position: absolute;
  top: 21vh;
  left: 8vw;
  width: 27vw;
  height: 37vh;
}

/* The layers of the Internet */
#internet-layers {
  position: relative;
  display: block;
  overflow: hidden;
  min-height: 160vh;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.7em;
}

@media all and (min-width: 1754px) {
  #internet-layers {
    font-size: 0.8em;
  }
}

#internet-layers h2 {
  text-align: center;
}

#internet-layers .internet-layer {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

#internet-layers .internet-layer .text {
  max-width: 30ch;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all cubic-bezier(0.45, 0, 0.55, 1) 0.6s;
}

@media all and (min-width: 1754px) {
  #internet-layers .text {
    max-width: 35ch;
  }
}

#internet-layers .internet-layer .text.visible {
  opacity: 1;
  filter: alpha(opacity=100);
  transition: all cubic-bezier(0.45, 0, 0.55, 1) 0.6s;
}

#internet-layers .internet-layer figure {
  width: 13vw;
  height: auto;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all cubic-bezier(0.45, 0, 0.55, 1) 0.6s;
}

#internet-layers .internet-layer figure.visible {
  width: 13vw;
  height: auto;
  opacity: 1;
  filter: alpha(opacity=100);
  transition: all cubic-bezier(0.45, 0, 0.55, 1) 0.6s;
}

#internet-layers .iceberg {
  max-width: 100%;
  margin-top: 5vh;
  text-align: center;
}

#internet-layers .iceberg img {
  max-width: 35vw;
}

#internet-layers .wave {
  position: absolute;
  top: 45vh;
  left: 0;
  right: 0;
  background-image: url("img/bolge.svg");
  background-size: contain;
  background-repeat: repeat-x;
  min-width: 100%;
  height: 40px;
}

#internet-layers #surface-web {
  position: absolute;
  top: 18vh;
  left: 0;
}

#internet-layers #surface-web .text {
  max-width: 40ch;
}

#internet-layers #surface-web figure {
  position: absolute;
  top: 36vh;
  left: 3vw;
}

#internet-layers #deep-web {
  position: absolute;
  top: 55vh;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#internet-layers #deep-web .text {
  transition-delay: 0.2s;
}

@media all and (min-width: 1754px) {
  #internet-layers #deep-web .text {
    max-width: 35ch;
  }
}

#internet-layers #deep-web figure {
  margin-top: 40px;
}

#internet-layers #dark-web {
  position: absolute;
  top: 110vh;
  left: 0;
}

#internet-layers #dark-web .text {
    max-width: 35ch;
  transition-delay: 0.2s;
}

@media all and (min-width: 1600px) {
  #internet-layers #dark-web .text {
  max-width: 40ch;
  }
}

#internet-layers #dark-web p+p {
  margin-top: 0;
}

#internet-layers #dark-web figure {
  z-index: 1000;
  position: absolute;
  top: 30vh;
  right: 3vw;
  padding-top: 20vh;
}

#internet-layers #dark-web figure.visible {
  animation: sinkToBottom 1.5s cubic-bezier(0.41, 0.03, 1, 1) 0s 1 normal backwards;
}

#internet-layers .ocean {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-top: -12vh;
  margin-left: -50vw;
  margin-right: -50vw;
}
/* Video of self driving car stopped by police */
.section.video {
  background-color: black;
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  justify-content: center;

}

.section.video iframe{
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  height: 80%;
  padding: 70px;

}


.section.video h2{
  font-size: 50px;
  color: #cedbfa;
  position: absolute;
  top: 90px;

}

/* Credits */
#credits {
background-color: black;
width: 100vw;
padding: 0 70px 120px 70px;
font-size: 20px;
line-height: 1.5;
}

#credits p {
  margin: 0;
  color: #ccdbfd;
}
